.headng{
    //text-align: center;
    color: goldenrod;
}

.tblhdr{
    text-align: center;
    color: honeydew;
}
.tblbdy{
    color: honeydew;
}
.pagn{
    background-color: black;
}

.otherTitle{
    color: indianred;
}

.otherAuthor{
    color:white; 
}

.otherSummaryHead{
    color:white;
}

.otherSummarybody{
    color:white;
}

.otherUrl{
color: green;
}
.btn-more{
    font-weight: bold;
    color:brown;
    
}
.resultBack{
    background-color: black;
}

.topAuthors{
    color: white;
}

.modal-body{
    background-color: black;
}

.modal-header{
    background-color: black;
}

.close{
    background-color: red;
}

.modal-title{
    color: white;
}

.modal-body{
    color: white;
}