<div style="background-color: black">
  <div class="row" style="height: 150px">
    <div class="col-md-1 px-md-1 back">
      <img
        src="assets/img/avatars/backArrow.jpg"
        class="img-avatar"
        alt="admin@bootstrapmaster.com"
        (click)="ImageClick()"
      />
    </div>
  </div>
  <div class="row classRow">
    <div class="col-md-1 px-md-1"></div>
    <div class="col-md-10 px-md-1">
      <div id="growthChartOne"></div>
    </div>
  </div>
  <br />
  <div class="row classRow">
    <div class="col-md-1 px-md-1"></div>
    <div class="col-md-10 px-md-1">
      <div id="growthChartTwo"></div>
    </div>
  </div>

  <br />
  <div class="row classRow">
    <div class="col-md-1 px-md-1"></div>
    <div class="col-md-10 px-md-1">
      <div id="growthChartThree"></div>
    </div>
  </div>

  <br />
  <div class="row classRow">
    <div class="col-md-1 px-md-1"></div>
    <div class="col-md-10 px-md-1">
      <div id="growthChartFour"></div>
    </div>
  </div>

  <br />
  <div class="row classRow">
    <div class="col-md-1 px-md-1"></div>
    <div class="col-md-10 px-md-1">
      <div id="growthChartFive"></div>
    </div>
  </div>
</div>
